@mixin bai{
  html,body{
    width: 100%;
    height: 100%;
  }
}
@mixin postioncenter{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin flexcenter{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
@mixin yuan{
  border-radius: 50%;
}